.message-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: auto; 
    /* overflow-y: auto;  */
    margin-right: 20px;
    margin-top: 10px;
}

.message {
    transition: opacity 1s ease-in-out;
    opacity: 0;
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 900;
    font-size: 26px;
    border: none !important;
    padding: 0px !important;
    text-align: left; /* Align text to the left */
    word-wrap: break-word; /* Ensure long words break to fit within the container */
}


.message-visible {
    opacity: 1; /* 完全可见状态 */
}